*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    font-size: 1.6rem;
    background-color: #0C0C0C;
}
.container{
    width: 95%;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}
form{
    width: 100%;
    max-width: 650px;
    margin: auto;
    border: 2px solid #5CD2B9;
    padding: 2rem;
    background-color: rgb(18 18 18 /0.8);
}
form h1{
    color: #5CD2B9;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
textarea{
    width: 100%;
    background-color: rgb(18 18 18);
    color: #5CD2B9;
    border: 1px solid #5CD2B9;
    max-width: auto;
    min-height: 100px;
    max-height: 300px;
    padding: 1rem;
    outline: none;
    resize:vertical;
}
#btnCalculo{
    display: block;
    margin-top: 1rem;
    padding:1rem 2rem;
    background-color: #5CD2B9;
    border: none;
    color: #fff;
    border: 1px solid #5CD2B9;
    transition: all .3s ease;

}
#btnCalculo:hover{
    background-color: transparent;
    transition: all .3s ease;
}
#resultado{
    margin-top: 1rem;
    color: #5CD2B9;
    width: 100%;
    overflow-wrap: break-word;
}